/*************************************************/
/* LOCAL CSS                                     */
/* Frog&Owl custom CSS and CSS overrides go here */
/*************************************************/


.header-group-wrapper {
  background: #000747 url(images/headerbg.png) top left no-repeat;
  float: left;
  height: 220px;
}

#logo {
  float: left;
  margin: 20px 20px 20px 0;
}


#search-box {
  float:right;
  margin-top: 10px;
}

.primary-menu {
  position:relative;
  top:190px;
  font-size: 12pt;
  font-family: sans;
}

.header-group-wrapper .block {
  float:left;
  margin-bottom: 0;
  width: inherit;
  overflow:hidden;
}

div.messages, div.messages.status {
  margin: .25em 0 .25em 0;
}

#content-tabs {
  margin:0 0 20px;
}